body {
    background-color: #f8f2ed;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: "Domine", "Noto Serif", Times, serif;
    font-weight: 500;
}

footer {
    background-color: #000000;
    color: #ffff;
    padding: 2rem 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}

.footer-links a:hover {
    text-decoration: underline;
}
/*
hacer que el hover de los links sea un underline pero con animacion de izquierda a derecha
*/

footer hr {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 1.5rem auto;
    width: 80%;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto; /* esto de usar pixeles y el auto no me convence nada, hay que revisarlo*/
}

.social {
    display: flex;
    gap: 1rem;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.social a:hover {
    opacity: 0.7;
}

.social img {
    width: 24px;
    height: auto;
    filter: brightness(0) invert(1);
}