/* Reinicio global para empezar el proyecto y box-sizing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: #f8f2ed;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #111;
    line-height: 1.6;
}

/* igual añadir h3 (?) */
h1, h2, h3 {
    font-family: "Domine", "Noto Serif", Times, serif;
    font-weight: 500;
}

section {
    padding: 4rem 1.5rem;
}


/* HEADER */

header {
    background-color: #f8f2ed;
    box-shadow: 0 2px 8px #0000000d;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.container {
    max-width: 900px;
    margin: 0 auto;
}

.nav {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
/* Buscar otras maneras de hacer el underline animado tanto para el header como para el footer*/
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

/* SECCION ABOUT */

.about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about h1 {
    font-size: 3rem;
}
/* poner el subtitle más cerca del titulo */
.subtitle {
    font-size: 1.4em;
    color: #000000;
}

.about p {
    max-width: 600px;
}


/* SECCION PROYECTOS */


#projects h2 {
    margin-bottom: 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.project-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 16px;
    transition: transform 0.2s ease;
/*
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
*/
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    margin-bottom: 0.5rem;
}

.project-card p {
    margin-bottom: 0.5rem;
}

.project-card .tech {
    font-size: 0.9rem;
    color: #777;
}

.project-card a {
    text-decoration: none;
    font-weight: 600;
    color: #0058bd;
}


/* SECCIÓN EXPERIENCIA */


#experience h2 {
    margin-bottom: 2rem;
}

.job {
    margin-bottom: 2rem;
}

.job h3 {
    margin-bottom: 0.3rem;
}

.company {
    color: #666;
    margin-bottom: 0.5rem;
}

.job ul {
    padding-left: 1.2rem;
}


/* SECCIÓN EDUCACIÓN */

#education h2 {
    margin-bottom: 2rem;
}

.education-block {
    margin-bottom: 2rem;
}

.education-block h3 {
    margin-bottom: 0.5rem;
}

.education-block ul {
    padding-left: 1.2rem;
}


/* FOOTER */

footer {
    background-color: #000000;
    color: #ffff;
    padding: 2rem 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;;
}

.footer-links a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
}

.footer-links a:hover::after {
    width: 100%;
}

footer hr {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 1.5rem auto;
    width: 80%;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto; /* esto de usar pixeles y el auto no me convence nada, hay que revisarlo*/
}

.social {
    display: flex;
    gap: 1rem;
}

.social a {
    color: #fff;
    text-decoration: none;
}

.social a:hover {
    opacity: 0.7;
}

.social img {
    width: 24px;
    height: auto;
    filter: brightness(0) invert(1);
}